#messageForm {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  right: 10%;
  left: 0;
  border: 1px solid black;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  white-space: nowrap;
  resize: none;
}

#messageContainer {
  position: fixed;
  border: 1px solid black;
  overflow-y: scroll;
  top: 0;
  right: 10%;
  left: 0;
  bottom: 100px;
  margin: 10px 10px 0px 10px;
  background-color: aquamarine;
}

#messageList {
  list-style-type: none;
  margin-right: 20px;
  /* max-width: 40%; */
  /* float: right; */
  /* margin-left: auto; */
}

#messageList li {
  clear: both;
  margin-bottom: 20px;
}

#messageList li p:first-child {
  text-align: right;
  overflow-wrap: break-word;
}

#messageList li p:nth-child(2) {
  float: right;
  text-align: left;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 20% 5% 20% 5%;
}

#messageInput,
#sendButton {
  display: inline-block;
  vertical-align: bottom;
}

#messageInput {
  min-height: 50px;
  width: calc(100% - 100px);
  min-width: 100px;
  max-width: calc(100% - 100px);
  resize: none;
}

#sendButton {
  height: 50px;
  width: 80px;
  margin-right: 10px;
  margin-left: 5px;
}

#membersContainer {
  position: fixed;
  border: 1px solid black;
  overflow: scroll;
  top: 100px;
  right: 0;
  left: 90%;
  bottom: 0;
  margin: 10px 10px 10px 0px;
  background-color: antiquewhite;
}

#membersList {
  list-style-type: none;
  padding: 5px;
  text-align: left;
}

#nameContainer {
  position: fixed;
  top: 0;
  right: 10px;
  left: 90%;
  /* bottom: 85%; */
}

#nameContainer input {
  position: relative;
  box-sizing: border-box;
  border: 1px solid black;
  top: 10px;
  min-height: 40px;
  width: 100%;
}

#nameContainer button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  min-height: 40px;
}
