body {
  background-color: rgb(27, 192, 176);
}

#messageForm {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid black;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  white-space: nowrap;
  background-color: lightblue;
  resize: none;
  display: none;
}

#nameContainer {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid black;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  white-space: nowrap;
  background-color: lightblue;
  resize: none;
}

#messageContainer {
  position: fixed;
  border: 1px solid black;
  overflow-y: scroll;
  top: 0;
  right: 0;
  left: 0;
  bottom: 100px;
  margin: 10px 10px 0px 10px;
  background-color: aliceblue;
}

#messageList {
  list-style-type: none;
  margin-right: 20px;
}

#messageList li {
  clear: both;
  margin-bottom: 20px;
}

#messageList li p:first-child {
  float: right;
  text-align: left;
  overflow-wrap: break-word;
  padding: 10px;
  border-radius: 20% 5% 20% 5%;
  font-size: 18px;
  color: white;
}

#messageList li p:nth-child(2) {
  font-size: 12px;
  text-align: right;
  overflow-wrap: break-word;
  clear: both;
}

#messageInput,
#sendButton,
#nameInput,
#nameButton {
  display: inline-block;
  vertical-align: bottom;
}

#messageInput,
#nameInput {
  min-height: 50px;
  width: calc(100% - 100px);
  min-width: 100px;
  max-width: calc(100% - 100px);
  resize: none;
}

#nameInput[placeholder],
#messageInput[placeholder] {
  font-size: 16px;
}

#sendButton,
#nameButton {
  height: 50px;
  width: 80px;
  margin-right: 10px;
  margin-left: 5px;
}
