#messageForm {
  position: fixed;
  box-sizing: border-box;
  bottom: 0;
  right: 10%;
  left: 0;
  border: 1px solid black;
  padding: 10px;
  margin: 0px 10px 10px 10px;
  white-space: nowrap;
  resize: none;
}

#messageContainer {
  position: fixed;
  border: 1px solid black;
  overflow-y: scroll;
  top: 0;
  right: 10%;
  left: 0;
  bottom: 100px;
  margin: 10px 10px 0px 10px;
  background-color: aquamarine;
}

#messageList {
  list-style-type: none;
  margin-right: 20px;
}

#messageList li {
  display: inline;
  float: right;
  clear: both;
  max-width: 40%;
  margin-bottom: 20px;
  word-wrap: break-word;
}

#messageList li p:first-child {
  text-align: right;
}

#messageList li p:nth-child(2) {
  text-align: left;
}

#messageInput,
#sendButton {
  display: inline-block;
  vertical-align: bottom;
}

#messageInput {
  min-height: 50px;
  width: calc(100% - 100px);
  min-width: 100px;
  max-width: calc(100% - 100px);
  resize: none;
}

#sendButton {
  height: 50px;
  width: 80px;
  margin-right: 10px;
  margin-left: 5px;
}

#membersContainer {
  position: fixed;
  border: 1px solid black;
  overflow: scroll;
  top: 0;
  right: 0;
  left: 90%;
  bottom: 0;
  margin: 10px 10px 10px 0px;
  background-color: antiquewhite;
}

#membersList {
  list-style-type: none;
  padding: 5px;
  text-align: left;
}
